<div class="row col s12">
	<map zoom="10" center="0, 0"></map>
	<br>
	<div class="stars-container center-align col s12" ng-controller="StarCtrl">
		<form ng-submit="postRatings()">
			<div>
				<p class="col s12 center-align route-check">
					<input type="checkbox" id="test5" ng-model="sports">
					<label for="test5">Sports</label>
				</p>
				<p class="col s12 center-align route-check" ng-model="scenic">
					<input type="checkbox" id="test6">
					<label for="test6">Scenic</label>
				</p>	
			</div>
			<div> 
				<span> Road Quality : {{road}} out of {{ratings.max}}
		      <div star-rating rating-value="road" max="ratings.max" on-rating-selected="getSelectedRating(rating)">
		      </div>
		    </span>
		  </div>
			<div> 
				<span> Traffic : {{traffic}} out of {{ratings.max}}
		      <div star-rating rating-value="traffic" max="ratings.max" on-rating-selected="getSelectedRating(rating)">
		      </div>
		    </span>
		  </div>
			<div> 
				<span> Twistyness : {{twist}} out of {{ratings.max}}
		      <div star-rating rating-value="twist" max="ratings.max" on-rating-selected="getSelectedRating(rating)">
		      </div>
		    </span>
		  </div>
			<div> 
				<span> Scenery : {{scenery}} out of {{ratings.max}}
		      <div star-rating rating-value="scenery" max="ratings.max" on-rating-selected="getSelectedRating(rating)">
		      </div>
		    </span>
		  </div>
		  <div class="z-depth-1 input-field col s12">
        <textarea id="textarea1" class="materialize-textarea" ng-model="comment"></textarea>
        <label for="textarea1">Click to add Route Comments (limit: 255 characters)</label>
      </div>
      <br>
      <hr>
      <br>
     

      <button>Submit Rating</button>
	  </form>
  </div>


</div>