<div ng-show="weatherTog">
	<map class="map" name="map" zoom="11" center="current-location"></map>
	<input type="checkbox" id="weather" ng-click="weatherTog()">
	<label for="weather">Weather</label>
	<br>
	<input type="radio" name="group1" id="50" ng-click="asdf(50)">
	<label for="50">50 | </label>
	<input type="radio" name="group1" id="100" ng-click="asdf(100)">
	<label for="100">100 | </label>
	<input type="radio" name="group1" id="150" ng-click="asdf(150)">
	<label for="150">150 | </label>
	<input type="radio" name="group1" id="200" ng-click="asdf(200)">
	<label for="200">200 | </label>
	<input type="radio" name="group1" id="250" ng-click="asdf(250)">
	<label for="250">250 |</label>
	<input type="radio" name="group1" id="13000" ng-click="asdf(13000)">
	<label for="13000"> World |</label>
</div>
